server:
  compression_enabled: true
  port: ${LOCAL_PORT:8080}

logging:
  level:
    com.picpay.banking.jdpi.clients: ${FEIGN_CLIENTS_LOG_LEVEL:INFO}

picpay:
  ispb: 22896431

spring:
  main:
    banner-mode: off
  application:
    name: dict-infraction-worker
  redis:
    enabled: false
  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}
    consumer:
      auto-offset-reset: latest
  cloud:
    stream:
      bindings:
        new-infraction-reports:
          destination: ${TOPIC_NEW_INFRACTION_REPORT}
          group: dict
          contentType: application/json
          consumer:
            maxAttemps: ${SYNC_MAX_ATTEMPTS}
            configuration:
              max.poll.records: ${SYNC_MAX_POLL_RECORDS}
              max.poll.interval.ms: ${SYNC_MAX_POLL_INTERVAL}
            partitionCount: 1
            concurrency: 1
        alert-notifications:
          destination: ${ALERT_NOTIFICATION_TOPIC}
          contentType: application/json
          producer:
            partitionCount: 1

management:
  health:
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: prometheus, health
      base-path: '/'
      path-mapping:
        prometheus: 'metrics'