resilience4j:
  timelimiter:
    configs:
      default:
        timeoutDuration: 10s
        cancelRunningFuture: true
feign:
  client:
    config:
      default:
        logger-level: BASIC
        connect-timeout: 105000
        read-timeout: 105000
  compression:
    request:
      enabled: true
      mime-types: text/xml,application/xml,application/json
      min-request-size: 2048
    response:
      enabled: true
      useGzipDecoder: true
pix:
  bacen:
    dict:
      url: http://baas-pix-proxy-bacen.ms.qa
logging:
  level:
    com.picpay.banking: DEBUG
