spring:
    main:
        allow-bean-definition-overriding: true
server:
    tomcat:
        threads:
            max: 400
            min-spare: 50
picpay:
    ispb: 22896431
    service.name: ${spring.application.name}
    logging:
        level: ${PICPAY_LOGGING_LEVEL}
        appender: ${PICPAY_LOGGING_APPENDER}

management:
    health:
        diskspace:
            enabled: false
    endpoint:
        health:
            show-details: always
    endpoints:
        web:
            exposure:
                include: prometheus, health
            base-path: '/'
            path-mapping:
                prometheus: 'metrics'