spring:
  application:
    name: dict-sync-verifier
    stream:
      bindings:
        keys-changed:
          destination: keys-changed
          binder: kafka
  redis:
    enabled: true
    password: none
  jpa:
    properties:
      hibernate.jdbc.batch_versioned_data: true
      hibernate.jdbc.batch_size: 1000
      hibernate.order_inserts: true
      hibernate.order_updates: true
  datasource:
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
  main:
    allow-bean-definition-overriding: true

server:
  tomcat:
    threads:
      max: 400
      min-spare: 50
  port: 8089

picpay:
  ispb: 22896431
  logging:
    appender: CONSOLE
    level: INFO
  dict:
    pixkey:
      notification-dispatcher: true
    sync:
      schedule: 0 0 2 1/1 * ?
      timeoutPollingBacenFile: 1
      pollingBacenFilePeriod: 10
    compression:
      enabled: true

management:
  health:
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: 'metrics'


logging:
  level:
    javax.xml: debug