server:
  compression:
    enabled: true
  shutdown: graceful

spring:
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
  cloud:
    stream:
      bindings:
        new-infractions:
          destination: new-infraction-reports
          binder: kafka
    task:
      name: infraction-polling
      closecontext-enabled: true
      initialize-enabled: false
  redis:
    enabled: false

logging:
  level:
    com:
      picpay:
        banking: DEBUG

picpay:
  ispb: 22896431
  polling:
    infraction:
      limit: 200

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: 'metrics'
