server:
  port: ${LOCAL_PORT:8080}
  compression:
    enabled: true
  shutdown: graceful

spring:
  application:
    name: InfractionPollingTaskApplication
  profiles:
    active:
      - database
      - bacen
      - messaging
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
  cloud:
    stream:
      bindings:
        new-infractions:
          destination: ${INFRACTION_ACKNOWLEDGMENT_TOPIC}
          binder: kafka
    task:
      name: infraction-polling
      closecontext-enabled: true
  redis:
    enabled: false

logging:
  level:
    com:
      picpay:
        banking: ${FEIGN_CLIENTS_LOG_LEVEL:DEBUG}

picpay:
  ispb: ${ISPB_CLIENT_ID}
  polling:
    infraction:
      limit: ${POLLING_SCHEDULER_INFRACTION_LIMIT}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: 'metrics'

