server:
  port: ${LOCAL_PORT:8080}
  compression:
    enabled: true

spring:
  profiles:
    active:
      - database
      - bacen
      - messaging
  main:
    allow-bean-definition-overriding: true
    banner-mode: off
  cloud:
    stream:
      bindings:
        claim-notifications:
          destination: ${CLAIM_NOTIFICATIONS_TOPIC}
          binder: kafka

  redis:
    enabled: false

picpay:
  ispb: ${ISPB_CLIENT_ID}
  polling:
    claim:
      initial-delay: ${POLLING_SCHEDULER_CLAIM_INITIAL_DELAY}
      fixed-delay: ${POLLING_SCHEDULER_CLAIM_FIXED_DELAY}
      limit: ${POLLING_SCHEDULER_CLAIM_LIMIT}
      cancel-limit: ${POLLING_SCHEDULER_CANCEL_PORTABILITY_LIMIT}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: 'metrics'