spring:
    datasource:
        driver-class-name: ${DB_DRIVE_CLASS_NAME}
        password: ${DB_PASSWORD}
        url: ${DB_URL}
        username: ${DB_USERNAME}
    jpa:
        database: ${DB_TYPE}
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                default_schema: dict
        show-sql: true
