spring:
  datasource:
    driver-class-name: ${DB_DRIVE_CLASS_NAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    username: ${DB_USERNAME}
  jpa:
    database: ${DB_TYPE}
    hibernate:
      ddl-auto: none
    show-sql: true
  main:
    allow-bean-definition-overriding: true
  redis:
    enabled: true
    host: ${PICPAY_REDIS_HOST}
    keyTtl: ${PICPAY_REDIS_KEY_TTL}
    port: ${PICPAY_REDIS_PORT}
    timeout: ${PICPAY_REDIS_TIMEOUT}