spring:
    main:
        allow-bean-definition-overriding: true
    cloud:
        stream:
            bindings:
                new-reconciliation-sync:
                    destination: ${TOPIC_RECONCILIATION}
                    binder: kafka

picpay:
    ispb: 22896431
    logging:
        appender: CONSOLE
        level: INFO
server:
    compression:
        enabled: true

management:
    endpoint:
        health:
            probes:
                enabled: true
            show-details: always
    endpoints:
        web:
            exposure:
                include: prometheus, health
            path-mapping:
                prometheus: '''metrics'''
