spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active:
      - database
      - bacen
management:
  endpoint:
    health:
      show-details: always
    web:
      exposure:
        include: prometheus, health
  endpoints:
    web:
      base-path: /
      path-mapping:
        prometheus: '''metrics'''
picpay:
  ispb: 22896431
  logging:
    appender: CONSOLE
    level: ${PICPAY_LOGGING_LEVEL}
server:
  compression:
    enabled: true
  port: ${LOCAL_PORT:8080}
