spring:
    main:
        allow-bean-definition-overriding: true
picpay:
    ispb: 22896431
    logging:
        appender: CONSOLE
        level: INFO
server:
    compression:
        enabled: true
    port: 8080

management:
    endpoint:
        health:
            probes:
                enabled: true
            show-details: always
    endpoints:
        web:
            exposure:
                include: prometheus, health
            path-mapping:
                prometheus: '''metrics'''
