spring:
    main:
        allow-bean-definition-overriding: true
management:
    endpoint:
        health:
            show-details: always
        web:
            exposure:
                include: prometheus, health
    endpoints:
        web:
            path-mapping:
                prometheus: '''metrics'''
picpay:
    ispb: 22896431
    logging:
        appender: CONSOLE
        level: INFO
server:
    compression:
        enabled: true

