spring:
    main:
        allow-bean-definition-overriding: true
    cloud:
        stream:
            bindings:
                keys-changed:
                    destination: keys-changed
                    binder: kafka
picpay:
    ispb: 22896431
    logging:
        appender: CONSOLE
        level: INFO
    dict:
        pixkey:
            notification-dispatcher: true
    compression:
        enabled: true

management:
    endpoint:
        health:
            probes:
                enabled: true
            show-details: always
    endpoints:
        web:
            exposure:
                include: prometheus, health
            path-mapping:
                prometheus: '''metrics'''
