spring:
    main:
        banner-mode: off
    application:
        name: sync
    kafka:
        bootstrap-servers: ${KAFKA_SERVERS}
        consumer:
            auto-offset-reset: latest
    cloud:
        stream:
            kafka:
                binder:
                    brokers: ${KAFKA_SERVERS}
            bindings:
                sync-input:
                    destination: ${TOPIC_RECONCILIATION}
                    group: baas-pix-dict-sync
                    contentType: application/json
                    consumer:
                        maxAttemps: ${SYNC_MAX_ATTEMPTS}
                        configuration:
                            max.poll.records: ${SYNC_MAX_POLL_RECORDS}
                            max.poll.interval.ms: ${SYNC_MAX_POLL_INTERVAL}
                        partitionCount: 1
                        concurrency: 1

server:
    tomcat:
        threads:
            max: 400
            min-spare: 50

picpay:
    service.name: ${spring.application.name}
    logging:
        level: ${PICPAY_LOGGING_LEVEL}
        appender: ${PICPAY_LOGGING_APPENDER}

logging.pattern.console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta([%t]) %m%n"
#logging.level.org.apache.kafka.clients: OFF

management:
    health:
        diskspace:
            enabled: false
    endpoint:
        health:
            show-details: always
    endpoints:
        web:
            exposure:
                include: prometheus, health
            base-path: '/'
            path-mapping:
                prometheus: 'metrics'