server:
  compression:
    enabled: true
  shutdown: graceful

spring:
  main:
    allow-bean-definition-overriding: true
    banner-mode: off
  cloud:
    task:
      name: CANCEL_PORTABILITY
  redis:
    enabled: false
  flyway:
    enabled: false
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

picpay:
  ispb: 22896431
  polling:
    claim:
      initial-delay: 10000
      fixed-delay: 360000
      limit: 200
      cancel-limit: 200
management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  endpoints:
    web:
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: '''metrics'''
