spring:
    application:
        name: dict-sync-cid-file
    cloud:
        task:
            name: SYNC_CID_FILE
        config:
            enabled: false
    redis:
        enabled: true
        password: none
picpay:
    ispb: 22896431
    logging:
        appender: CONSOLE
        level: INFO
    dict:
        pixkey:
            notification-dispatcher: true
