spring:
  application:
    name: dict-workers-pixkey-database
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        bindings:
          # configuração de binding para DLQ
          pixKey-events:
            consumer:
              enableDLQ: true
              dlqName: pixKey-events-dlq
              autoCommitOnError: true
              autoCommitOffset: true
      bindings:
        # configuração de binding para listener
        pixKey-events:
          destination: pixKey-events
          binder: kafka
          group: dict-workers-pixkey-database
          contentType: application/json
          consumer:
            maxAttempts: 3
            # configuração de intervalo para retentativa
            backOffInitialInterval: 100
            backOffMaxInterval: 1000
            backOffMultiplier: 2.0
  redis:
    enabled: true
    password: none
  jpa:
    properties:
      hibernate.jdbc.batch_versioned_data: true
      hibernate.jdbc.batch_size: 1000
      hibernate.order_inserts: true
      hibernate.order_updates: true
  datasource:
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
  main:
    allow-bean-definition-overriding: true

server:
  tomcat:
    threads:
      max: 400
      min-spare: 50
  port: 8089

picpay:
  ispb: 22896431
  logging:
    appender: CONSOLE
    level: INFO
  dict:
    pixkey:
      notification-dispatcher: true
    sync:
      schedule: 0 0 2 1/1 * ?
      timeoutPollingBacenFile: 1
      pollingBacenFilePeriod: 10
    compression:
      enabled: true

pix:
  bacen:
    dict:
      url: http://baas-pix-proxy-bacen.ms.qa
      sync:
        lockKey: dict::bacen::sync:active
        lockDuration: 3

logging:
  level:
    org.apache.kafka.clients: OFF

management:
  health:
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: 'metrics'